*{
    margin: 0;
    padding: 0;
    font-family: 'Andika New Basic', sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
}

._header{
    height: 60px;
    width: 100%;
    background-color: rgb(21, 21, 22);
    display: flex;
    flex-direction: row;
}

._toggle{
    width: 50px;
    height: 50px;
    background-image: url(https://avatars1.githubusercontent.com/u/38478766?s=400&u=d81077f33e076fe1a49b7f293adda9c0d3baba3e&v=4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 0 5px 10px;
    border: solid 2px white;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
}

._title{
    font-family: 'Andika New Basic', sans-serif;
    color: white;
    font-size: 2em;
}

._content{
    height: 100%;
    width: 100%;
    background-color: rgb(241, 240, 255);
}

._toggle:hover{
    border: solid 2px lightskyblue;
}

.menu{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    
}

.aboutLink, .projectsLink{
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    width: 100px;
    text-align: center;
}
